<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <ba-card title="Modals" class="modal-buttons">
                 <button class="btn btn-success" (click)="addCategory()">Add Category</button>
                <button class="btn btn-warning" (click)="remCategory()">Rem Category</button>
                <button class="btn btn-primary" (click)="getCategories()">get Category</button>
                <button class="btn btn-success" (click)="addDeviceCategory()">Add Dev Cate</button>
                <button class="btn btn-warning" (click)="remDeviceCategory()">remo Dev Cat</button>
                <button class="btn btn-primary" (click)="removeVideoCat()">remove video category</button>
                <button class="btn btn-danger" (click)="addVideoCat()">add video category</button>
                <button class="btn btn-primary" (click)="removeDeviceVideo()">remove device video </button>
                <button class="btn btn-danger" (click)="addDeviceVideo()">add device video </button>
                <button class="btn btn-danger" (click)="getDeviceofCategory()">get devices of cate </button>
                <button class="btn btn-danger" (click)="getVideosofCategory()">get videos of cate </button>
            </ba-card>
        </div>
    </div>
</div>