<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
    <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>ng2-</span>admin</a>
    <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

    <div class="search">
        <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
        <input id="searchInput" type="text" placeholder="Search for...">
    </div>

    <div class="user-profile clearfix">
        <div class="dropdown al-user-profile">
            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                <img src="{{ ( avatarfilename | baProfilePicture ) }}"> {{username}}
            </a>
            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <li class="dropdown-item">
                    <a href (click)="resetPassword()"> <i class="fa fa-key"></i>Pass. Reset</a>
                </li>
                <li class="dropdown-item">
                    <a href (click)="register()"> <i class="fa fa-registered"></i>Register</a>
                </li>
                <li class="dropdown-item" *ngIf="isUserLogged">
                    <a href (click)="logOut()" class="signout"> <i class="fa fa-power-off"></i>[{{userActionName}}]</a>
                </li>
                <li class="dropdown-item" *ngIf="!isUserLogged">
                    <a href (click)="logOut()" class="signin"> <i class="fa fa-sign-in"></i>[{{userActionName}}]</a>
                </li>

            </ul>
        </div>
        <ba-msg-center></ba-msg-center>
    </div>
</div>